
.Logo{
    background-color: #010423;
    height: 20vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(25px + 4vmin);
    color: white;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid #1DB954;

}

.My-tracks{
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    /*width: 0em;*/
    font-size: 20px;
    top: 59%;
    text-align: center;

}
.playlist{
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    /*width: 0em;*/
    font-size: 20px;
    top: 85%;
    text-align: center;

}
.profile_photo{

    position: fixed;
}

.App_Settings{

    color:black;

}

.spotifyInfo{
    color: black;
}