@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.header{
  position: relative;
  top: 36px;
  left: 4%;
  max-width: 50%;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.deletePost {
  width: 100%;
}
.deleteIcon {
  float: right;
}

.settings {
  width: 100%;
}
.filler label:nth-child(1) {
  position: relative;
  left: 199px;
}
label.login1 {
  position: relative;
left: 360px;
top: 32px;
}
/*Friend Form Css (Submit Button)*/
input[type="submit"] {
  position: relative;
left: 210px;
top: -200px;
background: #33cc66;
color: white;
font-family: initial;
font-size: 16px;
}
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  outline: none;
}
p{
  max-width: 75%;
  font-family: 'EB Garamond', serif;
}
.desktop_img{
  width: 500px;
}
.button_img{
  width: 500px;
}
#download{
  color: #1db954;
  text-decoration: underline;
  
}
.fonts{
  color: black;
  float: unset;
  margin: unset;
  padding: unset;
}
.Spotify_login {
  background: #1db954;
  border-radius: 36px;
  color: white;
  font-family: "Quicksand", sans-serif;
  width: 319px;
  height: 41.61px;
  border: 0px;
  position: relative;
  top: 120px;
  left: 5px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.link-button:hover,
.link-button:focus,
.link-button:active {
  text-decoration: none;
  outline: none;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.autocomplete input {
  width: calc(300px + 1rem);
}

.autocomplete {
  min-height: 165px;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);

  display: inline-block;
  position: relative;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #ffffff;
  color: #33cc66;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

/*Friend Form Css (Find a Friend!)*/
.profileform label {
  top: -100px;
  left: 210px;
}

.App-link {
  color: #09d3ac;
}

.postlist {
  text-align: left;
  background: blue;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;

  width: 60%;
  display: inline-flex;
}

.userlist {
  text-align: left;
  background: #33cc66;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  width: 60%;
  display: inline-flex;
}

.comments {
  background: white;
  width: 90%;
  display: block;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  color: black;
}

.commentlist {
  text-align: left;
  background: lightblue;
  color: black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  width: 90%;
  display: block;
}

.hide {
  display: none;
}

.maincontent {
  display: flex;
  flex-direction: column;

  justify-content: center;
  flex-grow: 1;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.postbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comment-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidenav {
  position: fixed;
left: 5%;
top: 0px;
height: 60px;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
background-color: white;
z-index: 2;
}
.settings_img{
  position: relative;
top: -290px;
left: 560px;
}
#Style_Guide_Container{
  color: black;

}
.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  left: 103px;
  top: 8px;

}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 110px;
  text-decoration: none;
}

.sidenav-icon {
  width: 40px;
  height: 40px;

  margin-bottom: 15px;
}

.comment-indicator {
  text-align: right;
  width: 100%;
  display: block;
  float: right;
  margin-top: 10px;
}

.comment-icon {
  width: 40px;
  height: 40px;
  float: right;
}

.comment-indicator-text {
  background-color: lightblue;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  padding: 5px;
  float: right;
  margin-left: 10px;
  text-align: center;
}

.hide {
  display: none;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1px 10px 20px 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 200px;
}
#LoginBody {
  position: relative;
  top: 0px;
  width: 100%;
  height: 1310px;
  background: #010423;
}
#SignUpBody {
  position: relative;
width: 100%;
height: 100%;
background: #010423;
}
.SignUpForm {
  position: relative;
  top: 122px;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  line-height: 42px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* This is the begining of $GME css*/
#Nav_logo {
  position: fixed;
  top: 105px;
  left: 20px;
  z-index: 2;
}
#Post_Logo{
  position: relative;
  top: 37px;
  left: -550px;
}
svg#Account_Logo{
  position: relative !important;
top: -180px;
}
.Nav_Wrapper {
  position: relative;
  top: -40px;
}
.album{
  position: relative;
left: -49px;
}
.Nav_Wrapper_Account{
  position: relative;
top: -295px;
}
.MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
  top: -28px;
}
.Content{
  position: relative;
top: -471px;
left: -220px;
color: black;
}
#profile_picture {
  position: relative;
left: -540px;
top: -130px;
}
#profile_info{
  position: relative;
top: -160px;
left: -532px;
color: black;
font-size: 27px;
}
#Tracks_Icon{
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  width: 0em;
  font-size: 20px;
  top: 54%;
  text-align: center;
  color: black;
  left: 70px;
}
#Playlist_Icon{
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  width: 0em;
  font-size: 20px;
  top: 54%;
  text-align: center;
  color: black;
  left: 70px;
}
.playlist{
  position: absolute;
margin-left: 90px;
margin-right: 10px;
width: 6em;
font-size: 22px;
top: 95%;
text-align: center;
color: black;
}
.My-tracks {
  margin-left: 90px;
  font-size: 20px;
  top: 59%;
  text-align: center;
  color: black;
  position: absolute;
}

.button-css{
  margin-left: 10px;
  font-size: 20px;
  top: 40%;
  text-align: center;
  color: black;
  position: absolute;

}

.settings_list{
  position: relative;
  left: 140px;
  top: -130px;
}

.form{
  color:white;
}