@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
.App {
  height: 100%;
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: 33vw 33vw 34vw;
  grid-template-rows: 33vh 33vh 34vh;
  background-color: #010423;
  width: 100vw;
  height: 100vh;
}

#LoginLogo {
  grid-row: 1 / 3;
  grid-column: 2/3;
  position: relative;
  left: 10vw;
}
.LoginSignupBody {
  text-align: center;
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  height: 100px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
  left: 12%;
  top: -3%;
}
.FormBody {
  height: unset;
  padding-top: unset;
  margin: 0 auto;
  width: 50%;
}
label {
  display: flow-root;
  flex-direction: row;
  text-align: right;
  line-height: 26px;
  margin-bottom: 32px;
  width: 319px;
  height: 41.61px;
}
form {
  position: relative;
  left: 7vw;
}
input[type="text"] {
  width: 319px;
  height: 41.61px;
  flex: 0 0 200px;
  margin-left: 10px;
  background: #f2f2f2;
  border-radius: 26px;
  border: 0px;
}
input[type="password"] {
  width: 319px;
  height: 41.61px;
  flex: 0 0 200px;
  margin-left: 10px;
  background: #f2f2f2;
  border-radius: 26px;
  border: 0px;
}
.item4 {
  grid-column: 2/3;
  grid-row: 2/ 4;
}
.MainButton {
  width: 325px;
  height: 44.61px;
  border-radius: 26px;
  border: 0px;
  background: #1db954;
  color: white;
  font-family: Quicksand;
  font-size: 18px;
}
#LogInButton {
  position: relative;
  left: 1.2%;
}
a#LogInTitle.Title.On {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-decoration: unset;
  color: #ffffff;
  position: relative;
  left: -2.6vw;
}
a#SignInTitle.Title.Off {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-decoration: unset;
  color: #ffffff;
  opacity: 0.61;
  position: relative;
  left: 1.3vw;
}
a#LogInTitle.TitleOff {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
  text-decoration: unset;
  color: #ffffff;
  position: relative;
  left: -2.6vw;
}
  a#SignInTitle.TitleOn {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
  text-decoration: unset;
  color: #ffffff;
  position: relative;
  left: 1.3vw;
}
#LoginHeader {
  width: max-content;
  position: relative;
  left: 0vw;
  margin-left: auto;
  margin-right: auto;
  top: -64px;
}
.button_signup {
  position: relative;
  top: 28px;
  left: 0.5vw;
}



@media only screen and (max-width: 1440px) {
  .App {
    height: 100%;
    width: 100%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 33vw 33vw 34vw;
    grid-template-rows: 33vh 33vh 34vh;
    background-color: #010423;
    width: 100vw;
    height: 100vh;
  }
  
  #LoginLogo {
    grid-row: 1 / 3;
    grid-column: 2/3;
    position: relative;
    left: 8vw;
  }
  .LoginSignupBody {
    text-align: center;
    display: flex;
    flex-direction: unset;
    justify-content: unset;
    height: 100px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    left: 12%;
    top: -3%;
  }
  .FormBody {
    height: unset;
    padding-top: unset;
    margin: 0 auto;
    width: 50%;
  }
  label {
    display: flow-root;
    flex-direction: row;
    text-align: right;
    line-height: 26px;
    margin-bottom: 32px;
    width: 319px;
    height: 41.61px;
  }
  form {
    position: relative;
  left: 5.1vw;
  }
  input[type="text"] {
    width: 319px;
    height: 41.61px;
    flex: 0 0 200px;
    margin-left: 10px;
    background: #f2f2f2;
    border-radius: 26px;
    border: 0px;
  }
  input[type="password"] {
    width: 319px;
    height: 41.61px;
    flex: 0 0 200px;
    margin-left: 10px;
    background: #f2f2f2;
    border-radius: 26px;
    border: 0px;
  }
  .item4 {
    grid-column: 2/3;
    grid-row: 2/ 4;
  }
  .MainButton {
    width: 325px;
    height: 44.61px;
    border-radius: 26px;
    border: 0px;
    background: #1db954;
    color: white;
    font-family: Quicksand;
    font-size: 18px;
  }
  #LogInButton {
    position: relative;
    left: 1.2%;
  }
  a#LogInTitle.Title.On {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-decoration: unset;
    color: #ffffff;
    position: relative;
    left: -2.6vw;
  }
  a#SignInTitle.Title.Off {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-decoration: unset;
    color: #ffffff;
    opacity: 0.61;
    position: relative;
    left: 1.3vw;
  }
  a#LogInTitle.TitleOff {
    font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
text-decoration: unset;
color: #ffffff;
position: relative;
left: -2.6vw;
opacity: .61;
  }
    a#SignInTitle.TitleOn {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-decoration: unset;
    color: #ffffff;
    position: relative;
    left: 1.3vw;
  }
  #LoginHeader {
    width: max-content;
position: relative;
left: 1vw;
margin-left: auto;
margin-right: auto;
top: -64px;
    
  }
  .button_signup {
    position: relative;
    top: 28px;
    left: 0.5vw;
  }
}
@media only screen and (max-width: 1025px) and (min-width: 786px)  {
  .App {
    height: 100%;
    width: 100%;
  }
  .grid-container {
    display: grid;
grid-template-columns: 244px 244px 244px 244px;
background-color: #010423;
width: 100vw;
height: 100vh;
  }

  #LoginLogo {
    grid-row: 1 / 3;
    grid-column: 2/3;
    position: relative;
    left: 3%;
  }
  .LoginSignupBody {
    text-align: center;
    display: flex;
    flex-direction: unset;
    justify-content: unset;
    height: 100px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    left: 12%;
    top: -3%;
  }
  .FormBody {
    height: unset;
    padding-top: unset;
    margin: 0 auto;
    width: 50%;
  }
  label {
    display: flow-root;
    flex-direction: row;
    text-align: right;
    line-height: 26px;
    margin-bottom: 32px;
    width: 319px;
    height: 41.61px;
  }
  form {
    position: relative;
    left: 19%;
  }
  input[type="text"] {
    width: 319px;
    height: 41.61px;
    flex: 0 0 200px;
    margin-left: 10px;
    background: #f2f2f2;
    border-radius: 26px;
    border: 0px;
  }
  input[type="password"] {
    width: 319px;
    height: 41.61px;
    flex: 0 0 200px;
    margin-left: 10px;
    background: #f2f2f2;
    border-radius: 26px;
    border: 0px;
  }
  .item4 {
    grid-column: 2/4;
    grid-row: 2/ 4;
  }
  .MainButton {
    width: 325px;
    height: 44.61px;
    border-radius: 26px;
    border: 0px;
    background: #1db954;
    color: white;
    font-family: Quicksand;
    font-size: 18px;
  }
  #LogInButton {
    position: relative;
    left: 2.4%;
  }
  a#LogInTitle.Title.On {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-decoration: unset;
    color: #ffffff;
    position: relative;
    left: -2.6vw;
  }
  a#SignInTitle.Title.Off {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-decoration: unset;
    color: #ffffff;
    opacity: 0.61;
    position: relative;
    left: 1.3vw;
  }
  a#LogInTitle.Title.On {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-decoration: unset;
    color: #ffffff;
    position: relative;
    left: -2.6vw;
  }
  a#SignInTitle.Title.Off {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-decoration: unset;
    color: #ffffff;
    position: relative;
    left: 1.3vw;
  }
  #LoginHeader {
    width: max-content;
    position: relative;
    left: 2vw;
    margin-left: auto;
    margin-right: auto;
    top: -64px;
  }
}
@media only screen and (max-width: 414px) {
  .App {
    height: 100%;
    width: 100%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 33vw 33vw 34vw;
    grid-template-rows: 33vh 33vh 34vh;
    background-color: #010423;
    width: 100vw;
    height: 100vh;
  }

  #LoginLogo {
    grid-row: 1 / 3;
    grid-column: 2/3;
    position: relative;
left: -35%;
  }
  .LoginSignupBody {
    text-align: center;
    display: flex;
    flex-direction: unset;
    justify-content: unset;
    height: 100px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    left: 12%;
    top: -3%;
  }
  .FormBody {
    height: unset;
    padding-top: unset;
    margin: 0 auto;
    width: 50%;
  }
  label {
    display: flow-root;
    flex-direction: row;
    text-align: right;
    line-height: 26px;
    margin-bottom: 32px;
    width: 319px;
    height: 41.61px;
  }
  form {
    position: relative;
left: 20%;
  }
  input[type="text"] {
    width: 319px;
    height: 41.61px;
    flex: 0 0 200px;
    margin-left: 10px;
    background: #f2f2f2;
    border-radius: 26px;
    border: 0px;
  }
  input[type="password"] {
    width: 319px;
    height: 41.61px;
    flex: 0 0 200px;
    margin-left: 10px;
    background: #f2f2f2;
    border-radius: 26px;
    border: 0px;
  }
  .item4 {
    grid-column: 1/3;
    grid-row: 2/2;
    position: relative;
    top: 20px;
    left: -9%;
  }
  #LoginHeader{
    position: relative;
left: 31%;
width: max-content;
top: -32px;
  }
  .MainButton {
    width: 325px;
    height: 44.61px;
    border-radius: 26px;
    border: 0px;
    background: #1db954;
    color: white;
    font-family: Quicksand;
    font-size: 18px;
  }
  #LogInButton {
    position: relative;
    left: 1.2%;
  }
  a#LogInTitle.TitleOn {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
    text-decoration: unset;
    color: #ffffff;
  }
  a#SignInTitle.Title.Off {
    font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 50px;
text-decoration: unset;
color: #ffffff;
opacity: 0.61;
position: relative;
left: 32px;
  }
  a#LogInTitle.TitleOff {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
    text-decoration: unset;
    color: #ffffff;
    position: relative;
    left: -2.6vw;
  }
    a#SignInTitle.TitleOn {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
    text-decoration: unset;
    color: #ffffff;
    position: relative;
    left: 1.3vw;
  }
}

.comment-block{
  float:right;
}





