.search-page {
    background-color: white;
    height: 100%;
    position: relative;
}

.search-container {
    margin-top: 20px;
    margin-left: 460px;
    border-radius: 15px;
    padding: 30px;
    width: 880px;
    height: 5px;
}

.btn {
    border: none;
    background: none;
    background-color: inherit;
    padding: 14px 26px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 600px;
    top: -6px;
}

.btn:hover {
    background: #eee;
}

.cancel {
    color:#33cc66;
}

.search-curator {
    margin-top: 150px;
    margin-left: 50px;
    color: gray;
}
.search-description {
    margin-top: 20px;
    margin-left: 320px;
    color: gray;
}
