@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
body {
  font-family: "Quicksand", sans-serif;
}
.BannerOn {
  position: relative;
  width: 119px;
  height: 50px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  left: 79%;
  top: 7px;
  color: #ffffff;
}

label {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  left: 20px;
}
.BannerOff {
  position: relative;
  width: 119px;
  height: 50px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  opacity: 0.61;
  left: 72%;
  top: 7px;
  color: #9c9da9;
}
.line_signup {
  width: 114px;
  height: 0px;
  left: 766.99px;
  top: 318px;
  border: 2px solid #fff;
  border-radius: 2px;
}
.line_login {
  width: 114px;
  height: 0px;
  left: 766.99px;
  top: 318px;
  border: 2px solid #fff;
  border-radius: 2px;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  /* Rectangle 2 */

  width: 319px;
  height: 39px;

  /* Gray 6 */
  background: #f2f2f2;
  border-radius: 20px;
}
.SignUpForm {
  position: relative;
top: 11px;
left: 32.5%;
width: 480px;
}
#signupform{
  left: unset;
}
a {
  text-decoration: none;
  color: unset;
}
.header {
  position: relative;
top: 36px;
left: 3%;
max-width: 50%;
}
#LoginHeader {
  position: relative;
  top: 0px;
  left: 0px;
  background: #010423;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
#login {
  position: relative;
  left: -23px;
  top: 57px;
}
#sign_up {
  position: relative;
  top: 7px;
  left: 202px;
  width: 162px;
}
.verify {
  position: relative;
left: -24px;
top: 18px;
}
.lastname {
  position: relative;
top: -29px;
left: 2px;
}
.Username {
  position: relative;
  top: -81px;
  left: 2px;
}
.MuiGrid-spacing-xs-1 {
  width: calc(100% + 8px);
  margin: -4px;
  position: relative;
  left: -139px;
}
.First_Name {
  position: relative;
  top: -53px;
  left: -4px;
}
.password {
  position: relative;
  left: 7px;
  top: -4px;
}
#Logo{
  position: relative;
left: 47%;
}
input {
  border: 0px;
}
form {
  position: relative;
  left: -191px;
  top: 170px;
}
#logo {
  position: relative;
  top: 140px;
  left: -18px;
  z-index: 2;
}
#Submit_Button {
  top: 48px;
  position: relative;
  width: 319px;
  height: 39px;
  background: #1db954;
  border-radius: 35px;
  border: 0px;
  left: 46px;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 18px;
}
.ForgotPasswordLink{
  color: #1db954;
text-decoration: underline;
position: relative;
top: 150px;
left: 210px;
}
#verify {
  left: 169px;
}
#Password {
  left: 110px;
}
#username {
  left: 116px;
}
#firstname {
  left: 121px;
}
#lastname {
  left: 121px;
}
