@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
body {
  font-family: "Quicksand", sans-serif;
}

.LoginSignupBody{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}

.FormBody{
  height: 200px;
  
  padding-top: auto;
}

.filler {
  top: 40%;
  margin: 0;
}

.signFiller {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.BannerOn {
  position: absolute;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  height: 50px;
  top:30%;
  left: 40%;
  color: #ffffff;
}

.BannerOff {
  position: absolute;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  height: 50px;
  opacity: 0.61;
  top:  30%;
  left: 50%;
  color: #9c9da9;
}

label {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  left: 20px;
}

.line_signup {
  width: 114px;
  height: 0px;
  left: 766.99px;
  top: 318px;
  border: 2px solid #fff;
  border-radius: 2px;
}
.line_login {
  width: 114px;
  height: 0px;
  left: 766.99px;
  top: 318px;
  border: 2px solid #fff;
  border-radius: 2px;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  /* Rectangle 2 */

  width: 319px;
  height: 39px;

  /* Gray 6 */
  background: #f2f2f2;
  border-radius: 20px;
}


a {
  text-decoration: none;
  color: unset;
}
.header {
  position: relative;
top: 36px;
left: 3%;
max-width: 50%;
}
#LoginHeader {

  background: #010423;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
#login {
  position: relative;
  left: -23px;
  top: 57px;
}
#sign_up {
  position: relative;
  top: 7px;
  left: 202px;
  width: 162px;
}

.MuiGrid-spacing-xs-1 {
  width: calc(100% + 8px);
  margin: -4px;
  position: relative;
  left: -139px;
}

.SignInHeader{
  justify-content: center;
}
.logoHeader{
  position: absolute;
  margin: 0 auto;
  width: 100%;
}
input {
  border: 0px;
}
form {
  position: relative;
  left: -191px;
  top: 170px;
}

#Submit_Button {
  top: 48px;
  position: relative;
  width: 319px;
  height: 39px;
  background: #1db954;
  border-radius: 35px;
  border: 0px;
  left: 46px;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 18px;
}
.ForgotPasswordLink{
  color: #1db954;
text-decoration: underline;
position: relative;
top: 150px;
left: 210px;
}
#verify {
  left: 169px;
}
#Password {
  left: 110px;
}
#username {
  left: 116px;
}
#firstname {
  left: 121px;
}
#lastname {
  left: 121px;
}

.SignUpForm {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  height: 400px;
}

.Username {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 1%;
  left: 50%;
}

.password {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  left: 50%;
}

.verify {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.SignupButton{
  background-color:  #1DB954;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
  position: absolute;
  top: 40%;
  margin:0;
}

.PasswordEmailButton{
  background-color:  #1DB954;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
}
.fields{

  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  position: absolute;
  margin-left: 300px;
  margin-right: 9em;
  width: 15em;
  top: 20%;
  color: white;

}
.button_signup{
  position: absolute;
  margin-left: 600px;
  margin-right: 9em;
  width: 15em;
  top: 100%;
  align-items: center;
}


